/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #f20b0b;
    line-height: 1.6;
    background: linear-gradient(135deg, #001f3f, #000000);
}

header {
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(213, 213, 213, 0.97);
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links a {
    text-decoration: none;
    color: #00d49f;
    font-size: 20px;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #007bff;
}


.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 20px;
    border-radius: 10px;
    margin: 155px 0;
}

.hero-content {
   margin-left: 100px;
   text-align: center;
}

.hero-content h1 {
    font-size: 3rem;
    color: rgb(173, 168, 211);
    margin-bottom: 20px;
}

.cta-button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #0056b3;
}

.hero-illustration {
    max-width: 40%;
}

.hero-illustration img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* footer {
    padding: 20px;
    text-align: center;
    margin-top: 40px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
} */

/* Responsive Design */
@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero-content, .hero-illustration {
        max-width: 100%;
    }

    .hero-content h1 {
        font-size: 2.5rem;
    }

    .cta-button {
        font-size: 1rem;
        padding: 8px 15px;
    }
}
