<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SocialSentinel</title>
    <link rel="stylesheet" href="/static/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <header>
      <nav>
        <ul class="nav-links">
          <li><a href="#">Home</a></li>
          <li><a href="#">Engine</a></li>
          <li><a href="#">Sentiments</a></li>
          <li><a href="#">Reports</a></li>
        </ul>
      </nav>
    </header>

 
      <section class="hero">
        <div class="hero-content">
          <h1>Your Sentiments<br />Recommendation System</h1>
          <button class="cta-button">Get Started For Free</button>
        </div>
        <div class="hero-illustration">
          <!-- Illustration of the robots and infinity symbol -->
          <img src="/static/robo.png" alt="Robot Illustration" />
        </div>
      </section>

    <footer>
      <!-- Footer content -->
    </footer>

    <script src="/static/script.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
